<!DOCTYPE html>
<html lang="en">
<head>
    <title>SRT 621 Lab 9</title>
    <style>
        body{
        display: grid;
        grid-template-columns: 100px 1fr ;
        text-align: center;
        padding: 45px;
    }
    </style>
</head>
<body>
    <div>
        <a href="images/1"><img src="/images/1.jpg"></a>
        <a href="images/2"><img src="/images/2.jpg"></a>
        <a href="images/3"><img src="/images/3.jpg"></a>
    </div>
</body>
</html>